body {
  background-color: #b2c7d9;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  background-color: burlywood;
  font-size: 20px;
  padding: 5px;
  border-radius: 10px;
  opacity: 0.8;
}

.button__title {
  font-size: 70px;
  padding: 200px;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 100px;
}

.button__title button:active {
  transform: scale(0.95);
}

.button__push {
  font-family: "Do Hyeon", sans-serif;
  font-size: 40px;
  border: none;
  background-color: white;
  padding: 5px 25px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.button__title__f {
  padding-bottom: 100px;
}
