.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  background-color: burlywood;
  font-size: 25px;
  padding: 7px;
  border-radius: 10px;
  opacity: 0.8;
}
